#!/usr/bin/env bash
export SPARK_LIBRARY_PATH=$SPARK_LIBRARY_PATH:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/lib/native
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/lib/native
export SPARK_CLASSPATH=$SPARK_CLASSPATH:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/common/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/common/lib/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/hdfs/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/hdfs/lib/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/yarn/lib/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/yarn/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/mapreduce/lib/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/mapreduce/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/tools/lib/*:{{ install_base_dir }}/hadoop-{{ hadoop_version }}}/share/hadoop/tools/*
