---
- name: instal mariadb
  yum:
    name: "{{item}}"
    state: present
  become: yes
  become_user: "{{ansible_become_user}}"
  become_method: "{{ansible_become_method}}"
  with_items:
    - mariadb-server
    - mariadb

- name: enable the mariadb service
  service:
    name: mariadb
    enabled: yes
- name: start the mariadb service
  service:
    name: mariadb
    state: started