[libdefaults]
    default_realm = {{ krb_root_domain|upper }}
    dns_lookup_realm = false
    dns_lookup_kdc = false
    ticket_lifetime = 24h
    forwardable = true
    udp_preference_limit = 1000000
    default_tkt_enctypes = des-cbc-md5 des-cbc-crc des3-cbc-sha1
    default_tgs_enctypes = des-cbc-md5 des-cbc-crc des3-cbc-sha1
    permitted_enctypes = des-cbc-md5 des-cbc-crc des3-cbc-sha1

[realms]
    {{ krb_root_domain|upper }} = {
        kdc = kdc.{{ krb_default_realm}}:88
        admin_server = kdc.{{ krb_default_realm}}:749
        default_domain = {{ krb_default_realm}}
    }

[domain_realm]
    .{{ krb_default_realm}} = {{ krb_root_domain|upper }}
     {{ krb_default_realm}} = {{ krb_root_domain|upper }}

[logging]
    kdc = FILE:/var/log/krb5kdc.log
    admin_server = FILE:/var/log/kadmin.log
    default = FILE:/var/log/krb5lib.log
